body {
  background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.unsplash.com/photo-1440557958969-404dc361d86f?ixlib=rb-0.3.5&q=80&fm=jpg&s=40df6b399a290566cc6278e623e0a8ff') no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: 'Shadows Into Light', cursive;
}

.home {
  margin-top: 20%;
  text-align: center;
  h1 {
  font-size: 50px;
  }
  button {
    background:    #f6b26b;
    background:    -webkit-linear-gradient(#f6b26b, #bf9000);
    background:    linear-gradient(#f6b26b, #bf9000);
    border-radius: 5px;
    color:         #fff;
    display:       inline-block;
    padding:       8px 20px;
    font:          normal 700 12px/1 'Shadows Into Light', cursive;
    text-align:    center;
    text-shadow:   1px 1px 0 #000;
  }
}

.create {
  text-align: center;
  h1 {
    font-size: 50px;
  }
  input {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    font-family: 'Shadows Into Light', cursive;
    color: black;
    font-size: 20px;
  }
  button {
    background:    #f6b26b;
    background:    -webkit-linear-gradient(#f6b26b, #bf9000);
    background:    linear-gradient(#f6b26b, #bf9000);
    border-radius: 5px;
    color:         #fff;
    display:       inline-block;
    padding:       8px 20px;
    font:          normal 700 20px/1 'Shadows Into Light', cursive;
    text-align:    center;
    text-shadow: 1px 1px 0 #000;
}
.buttontwo {
  background:    #f6b26b;
  background:    -webkit-linear-gradient(#f6b26b, #bf9000);
  background:    linear-gradient(#f6b26b, #bf9000);
  border-radius: 5px;
  color:         #fff;
  display:       inline-block;
  padding:       8px 20px;
  font:          normal 700 26px/1 'Shadows Into Light', cursive;
  text-align:    center;
  text-shadow: 1px 1px 0 #000;
}
}

.list {
  text-align: center;
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 28px;
  }
  img {
    width: 500px;
  }
  p{
    font-size: 22px;
  }
  hr {
    color: white;
    width: 600px;
  }
}
