
<div class="create">
<h1>Add a place</h1>
<input type="text" name="cover" ng-model="newPlace.cover" placeholder="Image" value="">
<input type="text" name="title" ng-model="newPlace.title" placeholder="Name" value="">
<input type="text" ng-model="newPlace.description" name="description" placeholder="Description" value="">
<a href="#/places"><button type="button" ng-click="addPlace(newPlace)" name="button">Submit</button></a>
<p><a href="#/places"><button type="button" name="button" class="buttontwo">Go to List</button></a></p>
</div>
